<html>
    <head>
        <title>
            North West Dorms
        </title>
    </head>
    <body>
            <form method="post" action="/">
       Enter user Name: <input type="text" name="username">
       Enter Password: <input type="password" name="password">
       <input type="submit" value="Submit">
       </form>

    </body>
</html>